h1{
    color: purple;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2{
    color: purple;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h3{
    color: purple;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.point1{
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18pt;
}

.point2{
    color: yellow;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20pt;
}

.point3{
    color: green;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22pt;
}

tbody tr td {
    color: green;
}